<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotblitzstats.ivan.activities">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/icon" android:theme="@style/AppTheme">

        <activity android:name="com.wotblitzstats.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.wotblitzstats.activities.StatsActivity"/>

    </application>

</manifest>
